@import url('https://fonts.google.com/specimen/Roboto');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'spartan', sans-serif;
}

h1{
    font-size: 50px;
    line-height: 64px;
    color: black;
}

h2{
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4{
    font-size: 20px;
    color: #222;
}

h6{
    font-weight: 700;
    font-size: 12px;
}
p{
    font-size: 15px;
    color: #465b52;
    margin: 50px 0 20px 0;
}

.section-p1{
    padding: 40px 80px;
}

.section-m1{
    margin: 40px 0;
}
button.normal{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #060606;
    background-color: #F0EBE3;
    border-radius: 4px;
    border: none;
    outline: none;
    transition: 0.2s;
}
body{
    width: 100%;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background-color: #F0EBE3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}
.logo {
    max-width: 100px; 
    height: auto;
}
#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}
#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #6C0345;
    transition: o.4s ease;
}
#navbar li a:hover,
#navbar li a.active{
    color: #86469C;
    
}
#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background-color: besige;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#hero{
    background-image: url("heroback.jpg");
    background-size: cover;
    height: 80vh;
    width: 100%;
    background-position: top 25% right 0%;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
#hero h4{
    padding-bottom: 15px;
}
#hero h1{
    color: #8B322C;
}
#hero button{
    background-image: url("button.png");
    
    border: 0;
    padding: 14px 80px 14px 60px;
    cursor: pointer;
    font-size: medium;
    font-weight: 700;
    border-radius: 15px;
}
#feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
#feature .feature-box{
    width: 230px;
    text-align: center;
    padding: 25px 20px;
    box-shadow: 20px 20px 35px rgba(0, 0, 0, 0.03);
    border: 1px solid #cce7cc;
    border-radius: 5px;
    margin: 15px 0;
}
#feature .feature-box:hover{
    box-shadow: 13px 13px 54px rgba(70, 62, 221, 0.2);
}
#feature .feature-box img{
    width: 100%;
    margin-bottom: 10px;
}
#feature .feature-box h6{
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: beige;
    background-color: #A34343;

}
#item1 .product-container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

#item1{
    text-align: center;
}
#item1 .product{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7cc;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.1);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}
#item1 .product img{
    width: 100%;
    border-radius: 20px;
}
#item1 .product:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.2);
}
#item1 .product .description{
    text-align: start;
    padding: 10px 0;  
}
#item1 .product .description span{
    color: #060606;
    font-size: 12px;
}
#item1 .product .description h5{
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}
#item1 .product .description i{
    font-size: 12px;
    color: rgb(243, 181, 25);
}
#item1 .product .description h4{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #088178;
}
#item1 .product .cart{
      width: 40px;
      height: 40px;
      line-height: 40px;
      border-radius: 50px;
      background-color: #F0EBE3;
      font-weight: 500;
      color: #088178;
      border: 1px solid #F0EBE3;
      position: absolute;
      bottom: 20px;
      right: 10px;
}
#banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("banner.jpg");
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
}
#banner h4{
    color: #cce7cc;
    font-size: 16px;
    padding: 10px 0;
}
#banner h2{
    color: #cce7cc;
    font-size: 40px;
    padding: 10px 0;
}
#banner h2 span{
    color: #F0EBE3;
}
#banner button:hover{
    background-color: orangered;
    color: #cce7cc;
}
#item1 h4{
    color: #465b52;
    font-size: 15px;
    padding-top: 10px;
}
#sm-banner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#sm-banner .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("sm-banner1.jpg");
    min-width: 580px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding: 30px;
}
#sm-banner .banner-box2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("sm-banner2.jpg");
    min-width: 580px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding: 30px;
}
#sm-banner h4{
    padding-bottom: 10px;
    font-size: 20px;
    font-weight: 300;

}
#sm-banner h2{
    padding-bottom: 10px;
    font-size: 28px;
    font-weight: 800;
    
}
#sm-banner span{
    padding-bottom: 15px;
    font-size: 15px;
    font-weight: 500;
}
button.trans{
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    color: #465b52;
    background-color: transparent;
    border: 1px solid #088178;
    outline: none;
    transition: 0.2s;
}
#sm-banner .banner-box:hover button{
    background-color: #465b52;
    border: 1s solid #465b52;
    color: #cce7cc;
}
#banner3{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 80px;
}
#banner3 .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("img1.jpg");
    min-width: 30%;
    height: 30vh;
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin-bottom: 20px;
}
#banner3 .banner-box2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("img2.jpg");
    min-width: 30%;
    height: 30vh;
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin-bottom: 20px;
}
#banner3 .banner-box3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("img3.jpg");
    min-width: 30%;
    height: 30vh;
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin-bottom: 20px;
}
#banner3 h2{
    color: #fff;
    font-weight: 900;
    font-size: 22px;
}
#banner3 h3{
    color: #fff;
    font-weight: 400;
    font-size: 16px;
}
#newsletter{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url("signup.jpg");
    background-size: cover;
}
#newsletter h3{
    margin-top: 10px;
    font-size: 34px;
    font-weight: 700;
    color: #060606
}
#newsletter p{
    font-size: 19px;
    font-weight: 600;
    color: #465b52
}
#newsletter .form{
    display: flex;
    width: 40%;
}
#newsletter input{
    height: 3.125rem;
    padding: 0 1.25em;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
#newsletter button{
    background-color: #8B322C;
    color: #fff;
    white-space: nowrap;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
    width: 20%;
}
footer .logo{
    margin-bottom: 30px;
}
footer h4{
    font-size: 14px;
    padding-bottom: 20px;
}
footer p{
    font-size: 13px;
    margin: 0 0 8px 0;

}
footer a{
    font-size: 13px;
    text-decoration: none;
    color: #465b52;
    margin-bottom: 10px;
}
footer .follow{
    margin-top: 20px;
}
footer .follow i{
   color: #465b52;
   padding-right: 4px;
   cursor: pointer;

}
footer .install img{
    margin: 10px 0 15px 0;
}
footer .section-p1 .copyright p{

    text-align: center;
}
footer .copyright{
    text-align: center;
    width: 100%;
}
footer .follow i:hover,
footer a:hover {
    color: #088178;

}

